@tailwind base;
@tailwind components;
@tailwind utilities;

/* .select-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("");
  background-repeat: no-repeat;

  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
} */
